root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.xml]
indent_size = 2
indent_style = space

[*.java]
indent_size = 2
indent_style = space
trim_trailing_whitespace = true

[*.yml]
indent_size = 2
indent_style = space

[*.md]
indent_style = space
indent_size = 4
